
fastapi>=0.136.1
uvicorn==0.24.0
pydantic>=2.9.0
requests==2.31.0
tzdata==2025.2
python-dotenv==1.0.0
python-multipart==0.0.6
httpx==0.25.1
aiohttp
aioodbc
botbuilder-core
botbuilder-schema
botframework-connector
msal
PyJWT
psycopg2-binary
pymysql
pyodbc